1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
a=[]
for i in range(1,21): #done up to 20
    if i % 3 == 0 and i % 5 == 0:
        a.append("MickeyMouse")
    elif i%3==0:
        a.append("Mickey")
    elif i%5==0:
        a.append("Mouse")
    else:
        a.append(i)
print(a)

for i in range (len(a)):
    if (i+1) % 3 == 0: a[i]="Donald"
    elif (i+1) % 5 == 0: a[i]="Duck"
a=tuple(a) #tuples can't be modified
print(a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald', 16, 17, 'Donald', 19, 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
x=input("x = ")
y=input("y = ")
def swap(x, y):
    x, y = y, x
    print("x =", x, "y =", y)

swap(x, y)

x = 3
y = 5
x = 5 y = 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math
x1, y1 = [int(x) for x in input("Coordinates of the first point: ").split(",")]
x2, y2 = [int(x) for x in input("Coordinates of the second point: ").split(",")]
a=(x1,y1) 
b=(x2,y2)
#print("Point A: (", a[0], a[1], ")")
#print("Point B: (", b[0], b[1], ")")
def eu(x, y):
    dist=math.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2)
    return dist
eu(a,b)

Coordinates of the first point: 3,0
Coordinates of the second point: 0,4

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
S=input()
s=S.lower()
freq={}
for i in s:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print("The number of time every character appears in ("+ S + ") is " + str(freq))

Write a program that prints the numbers from 1 to 100.
The number of time every character appears in (Write a program that prints the numbers from 1 to 100.) is {'w': 1, 'r': 6, 'i': 2, 't': 6, 'e': 3, ' ': 10, 'a': 3, 'p': 2, 'o': 3, 'g': 1, 'm': 3, 'h': 2, 'n': 2, 's': 2, 'u': 1, 'b': 1, 'f': 1, '1': 2, '0': 2, '.': 1}

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
L=[36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
   85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
    1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
   45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(l):
    freq, c = {}, 0
    for i in l:
        if i in freq: freq[i] += 1
        else: freq[i] = 1
    for i in freq:
        if freq.get(i) == 1:
            print(str(i) + " is a unique number")
            c += 1
    print("The number of unique numbers is: " + str(c))

unique(L)

58 is a unique number
74 is a unique number
96 is a unique number
64 is a unique number
10 is a unique number
24 is a unique number
19 is a unique number
33 is a unique number
86 is a unique number
99 is a unique number
18 is a unique number
47 is a unique number
88 is a unique number
55 is a unique number
54 is a unique number
8 is a unique number
79 is a unique number
81 is a unique number
57 is a unique number
37 is a unique number
1 is a unique number
9 is a unique number
95 is a unique number
90 is a unique number
98 is a unique number
39 is a unique number
16 is a unique number
82 is a unique number
92 is a unique number
41 is a unique number
30 is a unique number
94 is a unique number
5 is a unique number
72 is a unique number
87 is a unique number
75 is a unique number
53 is a unique number
The number of unique numbers is: 37

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
x=float(input())
def square(x):
    sq=x**2
    return sq
def cube(x):
    cu=x**3
    return cu
def sixth_pow(x):
    sp=cube(square(x))
    return sp

print(str(square(x)) + ", " + str(cube(x)) + ", " + str(sixth_pow(x)))

3
9.0, 27.0, 729.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
square1=[]
for x in range(10):
    square1.append(x**2)
print(square1)

square2=[x**2 for x in range(10)]
print(square2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
pyth=[[a,b,c] for a in range(1,21) for b in range(a,21) for c in range(b,21) if c**2==a**2+b**2] #done up to 20
print(pyth)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [8, 15, 17], [9, 12, 15], [12, 16, 20]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
import math
vec_in = [int(x) for x in input("Enter vector components: ").split(",")]
vec = tuple(vec_in)
#print(vec)
def normal(v):
    norm = tuple([float(i)/sum(v) for i in v])
    return norm
print(normal(vec))

Enter vector components: 1,2,3,4,5
(0.06666666666666667, 0.13333333333333333, 0.2, 0.26666666666666666, 0.3333333333333333)